      <!-- start container -->
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="row">



                <!-- start content rows -->
                <div class="col-sm-12">
                  <!-- start section -->
                  <div class="bba-hideme">
                    <!-- header -->
                    <div class="row" id="user-info">
                      <div class="col-xs-12 bba-top-header">
                        <h1>Cart</h1>
                      </div>
                    </div>
                    <!-- end header -->
                    <!-- start form -->



                    <div class="bba-input-div">
                      <div class="row">
                        <div class="col-sm-4">
                          <img src="../../assets/img/print.png" class="img-responsive center-block" style="" >
                          <div id="bba-cart-price">
                            $49
                          </div>
                        </div>
                        <div class="col-sm-8">
                          <p id="bba-title-cart" >
                            Brownie's Big Adventure: A Gift For Sarah
                          </p>
                          <table class="bba-cart-table table">
                            <tr>
                              <td >
                                Child's Name:
                              </td>
                              <td>
                                Sarah Brandon
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Gender:
                              </td>
                              <td>
                                Female
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Occasion:
                              </td>
                              <td>
                                Birthday
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Note:
                              </td>
                              <td>
                                Happy Birthday! With love, Graham and Theresa
                              </td>
                            </tr>

                          </table>
                          <div style=" font-size:16pt;">
                            <div style="text-align:left">
                              <a class="btn btn-primary" id="bba-cart-btn-checkout" href="checkout.html">Proceed to checkout</a>
                            </div>
                            <div class="row bba-cart-options">
                              <div class="col-xs-2">
                                <a href="#">Delete</a>
                              </div>
                              <div class="col-xs-10" >
                                <a href="#">Save for later</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <!-- end form -->


              </div>
              <!-- end section -->
              <!-- start section -->
              <div class="ep-hideme">
                <!-- header -->
                <div class="row" id="user-info">
                  <div class="col-xs-12" style="text-align:center; padding-top:45px;">
                    <h1 style="font-weight:lighter; font-size:36pt; "  >Saved For Later</h1>
                  </div>
                </div>
                <!-- end header -->
                <!-- start form -->



                <div style="text-align:center;  border:1px solid #CCCCCC; background-color:#f5f5f5; padding:35px; margin:0 auto;">
                  <div class="row">
                    <div class="col-sm-4">
                      <img src="../../assets/img/print.png" class="img-responsive center-block" style="" >
                      <div style="font-size:18pt; font-weight:lighter; letter-spacing:1px;">
                        $49
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <p style="text-align:left; font-weight:bold; font-size:16pt; padding-left:15px;" >
                        Brownie's Big Adventure: A Gift For Sarah
                      </p>
                      <table class="bba-cart-table table">
                        <tr>
                          <td >
                            Child's Name:
                          </td>
                          <td>
                            Sarah Brandon
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Gender:
                          </td>
                          <td>
                            Female
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Occasion:
                          </td>
                          <td>
                            Birthday
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Note:
                          </td>
                          <td>
                            Happy Birthday! With love, Graham and Theresa
                          </td>
                        </tr>

                      </table>
                      <div style="font-family:'helvetica'; font-size:16pt;">
                        <div class="row" style="text-align:left; padding-top:25px; font-weight:lighter; letter-spacing:1px; font-size:12pt;">
                          <div class="col-xs-4">
                            <a href="#">Move to cart</a>
                          </div>
                          <div class="col-xs-8" >
                            <a href="#">Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- end form -->


          </div>
          <!-- end section -->
              </div>
            </div>
          </div>
        </div> <!-- end container -->


      <script src="../../assets/js/jquery-1.11.3.min.js"></script>
      <script src="../../assets/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="../../assets/js/client.js"></script>
  </body>
</html>
