<!DOCTYPE html>
<html>
  <head>
      <title>Checkout - Brownie's Big Adventure</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../../assets/stylesheet/font-awesome.min.css">
      <link rel="stylesheet" href="../../assets/stylesheet/bootstrap.min.css">
      <link rel="icon" type="image/png" href="../../assets/img/favicon.png">
      <link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="../../assets/stylesheet/styles.css">
      <link rel="stylesheet" href="../../assets/stylesheet/styles2.css">
    </head>
    <body>

        <!-- start navbar -->
       <nav class="navbar navbar navbar-fixed-top" style="background-color:#f5f5f5; font-weight:lighter; letter-spacing:1px; font-size:16pt; color:#3e77c5">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="background-color:#3e77c5">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar" style="background-color:white"></span>
            <span class="icon-bar"  style="background-color:white"></span>
            <span class="icon-bar"  style="background-color:white"></span>
          </button>
          <a class="navbar-brand" href="../../index.html" style=" font-weight:lighter; letter-spacing:1px; font-size:20pt; ">Brownie's Big Adventure</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse bba-navbar" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="create-book.html" data-toggle="tooltip" title="Create Book" data-placement="bottom"><i class="fa fa-book" style=""> Create Book</i></a></li>
            <li><a href="account.html" data-toggle="tooltip" title="Your Account" data-placement="bottom"><i class="fa fa-user" style=""> Account</i></a></li>
            <li><a href="cart.html" data-toggle="tooltip" title="Cart" data-placement="bottom"><i class="fa fa-shopping-cart" > Cart</i></a></li>
            <li><a href="contact.html" data-toggle="tooltip" title="Contact Us" data-placement="bottom"><i class="fa fa-envelope" style=""> Contact</i></a></li>
          </ul>

        </div>
      </div>
    </nav>
        <!-- end navbar -->


        <div style="height:55px">
          &nbsp;
        </div>
        <!-- start container -->
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="row">



                <!-- start content rows -->
                <div class="col-sm-12">
                  <!-- start section -->
                  <div class="ep-hideme">
                    <!-- header -->
                    <div class="row" id="user-info">
                      <div class="col-xs-12" style="text-align:center; ">
                        <h1 style="font-weight:lighter; font-size:36pt; "  >Checkout</h1>
                      </div>
                    </div>
                    <!-- end header -->
                    <!-- start form -->




                    <div class="row bba-checkout-div">
                      <div class="col-sm-4">
                        Shipping address:
                      </div>
                      <div class="col-sm-8">
                        <p >
                          <input placeholder="Recipient name" style="width:65%">
                        </p>
                        <p>
                          <input placeholder="Street address" style="width:65%">
                        </p>
                        <p>
                          <input placeholder="City" class="pull-left" style="margin-right:15px; ">
                          <div class="dropdown btn-group pull-left" style="margin-right:15px;">
                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:#FFFFFF; border:1px solid #cdcdcd">State
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                              <li><a href="#">AZ</a></li>
                              <li><a href="#">CA</a></li>
                              <li><a href="#">CO</a></li>
                            </ul>
                          </div>
                          <input placeholder="Zip">
                        </p>
                      </div>
                    </div>
                    <div class="row bba-checkout-div">
                      <div class="col-sm-4">
                        Payment Method:
                      </div>
                      <div class="col-sm-8">
                        <p>
                          Paypal? Stripe?
                        </p>
                      </div>
                    </div>
                    <div class="row bba-checkout-div">
                      <div class="col-sm-4">
                        Total:
                      </div>
                      <div class="col-sm-8">
                        <p>
                          $49
                        </p>
                      </div>
                    </div>
                    <div class="row bba-checkout-div">
                      <div class="col-sm-4">
                        Gift card or promotion code
                      </div>
                      <div class="col-sm-8">
                        <p>
                          <input type="text" class="form-control" style="width:50%" >
                        </p>
                      </div>
                    </div>

                    <div>
                      <p style="color:#666666; font-size:12pt; padding-top:15px; text-align:left">
                        By placing your order you agree that:
                      </p>
                      <ul style="color:red; font-size:12pt;  text-align:left">
                        <li>
                          Once the order has been placed none of the customizations can be changed.
                        </li>
                        <li>
                          You have verified all information is spelled correctly.
                        </li>
                        <li>
                          An item is not returnable/refundable once ordered.
                        </li>
                      </ul>
                    </div>
                    <div class="row bba-checkout-div">
                      <div class="col-sm-12">
                        <a class="btn btn-primary" style="font-size:14pt; font-weight:lighter; letter-spacing:1px;" href="thanks.html">Place your order</a>
                      </div>
                    </div>


                    <!-- end form -->


              </div>
              <!-- end section -->

              </div>
            </div>
          </div>
        </div> <!-- end container -->


      <script src="../../assets/js/jquery-1.11.3.min.js"></script>
      <script src="../../assets/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="../../assets/js/client.js"></script>
  </body>
</html>
