
        
      <!-- start container -->
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="row">



              <!-- start content rows -->
              <div class="col-sm-7">
                <div class="ep-hideme bba-input-div" style="width:100%; margin-top:35px;">
                  <!-- header -->
                  <div class="row" id="email">
                    <div class="col-xs-12" style="text-align:center; ">
                      <h1 style="font-weight:lighter; font-size:36pt; "  >Create your custom book!</h1>
                    </div>
                  </div>

                  <!-- end header -->
                  <!-- start form -->
                  <div style="padding-top:20px; padding-bottom:20px; font-size:18pt; font-weight:lighter; text-align:center; letter-spacing:1px">
                    <form action="/signup" method="POST">
  									 <input type="text" class="form-control" placeholder="Child's name (Ex: Sarah)" name="sign_up-email" id="sign_up-email" style="font-weight:normal" /><br>

  									 <div style="text-align:left">
                       <div class="dropdown btn-group" style="margin-right:15px;">
                         <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" >Occasion
                         <span class="caret"></span></button>
                         <ul class="dropdown-menu">
                           <li><a href="#">Birthday</a></li>
   												<li><a href="#">Christmas</a></li>
   												<li><a href="#">Hanukkah</a></li>
   												<li><a href="#">Good behavior</a></li>
   												<li><a href="#">Just cause</a></li>
                         </ul>
                       </div>
  									 </div>
  									 <div style="text-align:left; padding-top:20px;">
  										 <div class="dropdown btn-group">
  											<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  												Gender
  												<span class="caret"></span>
  											</button>
  											<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
  												<li><a href="#">Female</a></li>
  												<li><a href="#">Male</a></li>
  											</ul>
  											</div>
  									 </div>


  									 <div>
  										<textarea style="margin-top:20px; font-weight:normal" class="form-control" rows="5" placeholder="Enter a note for the first page (ex: To Sarah, with love. -Josh &amp; Margaret)"></textarea>
  									 </div>
  								  <div>
                      <p style="color:#666666; font-size:12pt; padding-top:15px; text-align:left">
                        Please note:
                      </p>
                      <ul style="color:red; font-size:12pt;  text-align:left">
                        <li>
                          Once the order has been placed none of these customizations can be changed.
                        </li>
                        <li>
                          Your order will not be finalized until you checkout.
                        </li>
                        <li>
                          Double check that all information is spelled correctly.
                        </li>
                        <li>
                          Unfortunately an item is not returnable/refundable once ordered.
                        </li>
                      </ul>
                    </div>
                  	 <div style="padding-top:25px; text-align:center">
  										<btn href="partials/html/create-book.html" class="btn btn-primary" style="width:60%;font-weight:lighter; letter-spacing:1px; font-size:18pt; margin-top:35px;">Add to Cart</btn>
  									 </div>
  								 </form>
                  </div>
                  <!-- end form -->

                </div>
            </div>
            <div class="col-sm-5" style="padding-top:35px;">
              <div style="position:relative; top:65px; left:85px; color:white; font-size:18pt;">
                Brownie's Big Adventure
              </div>
              <div>
                <img src="../../assets/img/print.png" style="width:400px;" >
              </div>
              <div>

              </div>
            </div>
            </div>
          </div>
        </div>
      </div> <!-- end container -->
