
    	<div class=" bba-hideme " id="bba-splash-section">
				<div class="row">
					<div class="col-xs-12" id="bba-splash-title">
						<h1>Give a custom children's book</h1>
					</div>
				</div>
				<!-- start pricing -->
	    	<div id="bba-intro-section" class=" bba-hideme">

	    		<div class="row">
						<div>
							<img src="assets/img/book.png" class="img-responsive center-block">
						</div>
	    		</div>

					<div class="row">
	    			<div class="col-xs-6"  >
							<p id="bba-splash-brownie-intro">
								Brownie's Big Adventure is the story of Brownie the Rabbit looking for a gift for a child. By simply entering the name, gender, and reason for the
								gift, the story shapes around the child.
							</p>

						</div>
						<div class="col-xs-6 bba-splash-header-inverse bba-splash-brownie">
							<p>
								<img src="assets/img/brownie.svg">
							</p>
						</div>
					</div>
	    	</div>
	    	<!-- end pricing -->


    	<!-- start about -->
    	<div id="about-section">
    		<div class="bba-section-container  bba-hideme">
    			<div class="bba-splash-header">
    				How it works
    			</div>
          <div id="bba-how-it-works">
      			<div class="row" >
  	    			<div class="col-sm-8" >
  	    				<div>
  	    					<div class="bba-steps-div">
  		 						<span class="bba-steps-sm">1. Enter child's info</span>
  		 					</div>
  		 					<div>
  		 						<p class="bba-steps-p">
  		 							Enter the child's name, the gift occassion (birthday, etc), the child's gender, and any note you want printed on the inside cover.
  		 						</p>
  		 					</div>
  	    				</div>
  	    			</div>
  	    			<div class="col-sm-4">
  	    				<i class="fa fa-pencil-square-o bba-about-icons"></i>
  	    			</div>
  	    		</div>
  	    		<div class="row" >
  	    			<div class="col-sm-8">
  	    				<div >
  		    				<div class="bba-steps-div">
  		    						<span class="bba-steps-sm">2. The story gets customized</span>
  		 					</div>
  		 					<div>
  		 						<p class="bba-steps-p">
  		 							The story automatically changes to be about the child and the reason they are getting a gift.
  		 						</p>
  		 					</div>
  		 				</div>
  	    			</div>
  	    			<div class="col-sm-4">
  	    				<i class="fa fa-gift bba-about-icons" ></i>
  	    			</div>
  	    		</div>
  	    		<div class="row">
  	    			<div class="col-sm-8">
  	    				<div >
  		    				<div class="bba-steps-div">
  		    					<span class="bba-steps-sm">3. Give your custom printed book</span>
  		 					</div>
  		 					<div>
  		 						<p class="bba-steps-p">
  		 							Your book will be printed &amp; shipped within 2-3 weeks.
  		 						</p>
  		 					</div>
  		 				</div>
  	    			</div>
  	    			<div class="col-sm-4">
  	    				<i class="fa fa-plane bba-about-icons"></i>
  	    			</div>
  	    		</div>
          </div>
    		</div>
    	</div>
    	<!-- end about -->


    	<!-- start boost data -->
    	<div id="bba-splash-create" class="container bba-hideme">
    		<div class="row">
    			<div class="col-xs-12 bba-splash-header-inverse">
    				A personal gift they can enjoy again and again
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-sm-6">
    				<div >
    					<div class="bba-splash-create-info">
								<div class="bba-splash-create-header">
									Customize your book!
								</div>
								<div id="bba-splash-customize">
									<form action="/signup" method="POST">
									 <input type="text" class="form-control" ng-model="name" placeholder="Child's name (Ex: Sarah)" name="sign_up-email" id="sign_up-email"  /><br>

									 <div id="bba-splash-customize-occasion">
										 <div class="dropdown">
											<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
												Occasion
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
												<li><a href="#">Birthday</a></li>
												<li><a href="#">Christmas</a></li>
												<li><a href="#">Hanukkah</a></li>
												<li><a href="#">Good behavior</a></li>
												<li><a href="#">Just cause</a></li>
											</ul>
											</div>
									 </div>
									 <div id="bba-splash-customize-gender">
										 <div class="dropdown btn-group">
											<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
												Gender
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
												<li><a href="#">Female</a></li>
												<li><a href="#">Male</a></li>
											</ul>
											</div>
									 </div>


									 <div>
										<textarea id="bba-splash-customize-note" class="form-control" rows="5" placeholder="Enter a note for the first page (ex: To Sarah, with love. -Josh &amp; Margaret)"></textarea>
									 </div>
									 <div id="bba-splash-customize-create">
										<button href="partials/html/create-book.html" class="btn btn-primary" >Create</button>
									 </div>
								 </form>
								</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-sm-6">
    				<div >
              <div class="bba-bookCover">
                <div class="text">
                  Brownie's Big Adventure:
                </div>
                <div class="bba-bookCover-text">
                  A Gift For {{name}}
                </div>
              </div>
    				</div>
    			</div>
    		</div>
    	</div>
    	<!-- end boost data -->
    	<!-- start questions -->
    	<div  id="bba-section-contact">
    		<div class="row ep-hideme" >
    			<div class="col-xs-12 ep-splash-header">
    				Questions?
    				<br>You + us = awesome.
    				<br>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-sm-12" id="bba-splash-contact-div">
    				<form class="form-inline" role="form" action="/contact" method="POST">
			    		<div class="form-group" >
		            	<input type="text" class="form-control" placeholder="Name" id="contact-name" name="contact-name" />
						   <input type="email" class="form-control" placeholder="Email" id="contact-email" name="contact-email" />
		              	<button type="submit" class="btn form-button btn-primary" id="bba-contact-submit">Contact us</button>
		            </div>
		         </form>
    			</div>
    		</div>
    	</div>
