
  <!-- start container -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">



          <!-- start content rows -->
          <div class="col-sm-12">
            <div class="ep-hideme">
              <!-- header -->
              <div class="row" id="user-info">
                <div class="col-xs-12" style="text-align:center; ">
                  <h1 style="font-weight:lighter; font-size:36pt; "  >Sign Up</h1>
                </div>
              </div>
              <!-- end header -->
              <!-- start form -->

              <div id="ep-sign-in-form">
                <div class="ep-login-button-div" style="padding-bottom:10px; padding-top:25px; font-size:16pt; color:#999999">
                  You can sign up using
                  <a href="create-book.html" class="btn btn-primary ep-fb-login"><i class="fa fa-facebook-official"> Facebook</i></a>
                </div>
                <div style="text-align:center; padding-top:10px; padding-bottom:25px; font-size:16pt; color:#999999">
                  -or using email-
                </div>

              </div>

              <div style="text-align:center; width:75%; border:1px solid #CCCCCC; background-color:#f5f5f5; padding:35px; margin:0 auto;">

                <form action="/signup" method="POST">
                  <input type="text" class="form-control" placeholder="Your email address" name="sign_up-email" id="sign_up-email" /><br>
                  <input type="text" class="form-control" placeholder="Select a username" name="sign_up-email" id="sign_up-email" /><br>
                  <input type="password" class="form-control" placeholder="Select a password" id="sign_up-password" name="sign_up-password" /><br>
                </form>
                <div style="text-align:center; width:75%; padding:35px; margin:0 auto;">

                  <form action="/edit-photo" method="POST">

                    <a href="create-book.html" class="btn btn-primary" style="width:75%; font-size:16pt; font-weight:lighter; letter-spacing:1px" id="sign_up-body">Create account</a>
                  </form>
                </div>
                <div>
                  <a href="sign-in.html">Already have an account?</a>
                </div>
              </div>
              <!-- end form -->


        </div>
        </div>
      </div>
    </div>
</div> <!-- end container -->
