<!DOCTYPE html>
<html>
  <head>
      <title>Account - Epiphany.ai</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../../assets/stylesheet/font-awesome.min.css">
      <link rel="stylesheet" href="../../assets/stylesheet/bootstrap.min.css">
      <link rel="icon" type="image/png" href="../../assets/img/favicon.png">
      <link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="../../assets/stylesheet/styles.css">
      <link rel="stylesheet" href="../../assets/stylesheet/styles2.css">
    </head>
    <body>

        <!-- start navbar -->
       <nav class="navbar navbar navbar-fixed-top" style="background-color:#f5f5f5; font-weight:lighter; letter-spacing:1px; font-size:16pt; color:#3e77c5">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="background-color:#3e77c5">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar" style="background-color:white"></span>
            <span class="icon-bar"  style="background-color:white"></span>
            <span class="icon-bar"  style="background-color:white"></span>
          </button>
          <a class="navbar-brand" href="../../index.html" style=" font-weight:lighter; letter-spacing:1px; font-size:20pt; ">Brownie's Big Adventure</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse bba-navbar" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="create-book.html" data-toggle="tooltip" title="Create Book" data-placement="bottom"><i class="fa fa-book" style=""> Create Book</i></a></li>
            <li><a href="account.html" data-toggle="tooltip" title="Your Account" data-placement="bottom"><i class="fa fa-user" style=""> Account</i></a></li>
            <li><a href="cart.html" data-toggle="tooltip" title="Cart" data-placement="bottom"><i class="fa fa-shopping-cart" style=""> Cart</i></a></li>
            <li><a href="contact.html" data-toggle="tooltip" title="Contact Us" data-placement="bottom"><i class="fa fa-envelope" style=""> Contact</i></a></li>
          </ul>

        </div>
      </div>
    </nav>
        <!-- end navbar -->


        <div style="height:55px">
          &nbsp;
        </div>
        <!-- start container -->
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="row">



                <!-- start content rows -->
                <div class="col-sm-12">
                  <!-- start section -->
                  <div class="ep-hideme">
                    <!-- header -->
                    <div class="row" id="user-info">
                      <div class="col-xs-12" style="text-align:center; ">
                        <h1 style="font-weight:lighter; font-size:36pt; "  >Thank You!</h1>
                      </div>
                    </div>
                    <!-- end header -->
                    <!-- start form -->
                    <div style="font-size:18pt; font-weight:lighter; letter-spacing:1px;">
                      Your order has been placed and will be processed shortly!<br>
                      You can check the status of your order in your <a href="account.html">Order History</a>
                    </div>

                  </div>
              <!-- end section -->

              </div>
            </div>
          </div>
        </div> <!-- end container -->


      <script src="../../assets/js/jquery-1.11.3.min.js"></script>
      <script src="../../assets/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="../../assets/js/client.js"></script>
  </body>
</html>
